In [64]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None)

In [65]:
df = pd.read_csv('processedListingDATA(4 seasons).csv')
df.head()

,id,availability in one year,name,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,bathroom_count,bathroom_type,Total crime
0,6606,273,"Fab, private seattle urban cottage!",Wallingford,47.65444,-122.33629,Entire guesthouse,Entire home/apt,1,1 bath,1.0,1.0,99.0,159,4.61,4.67,4.67,4.83,4.76,4.88,4.57,1.0,standard,19411.0
1,9419,336,Glorious sun room w/ memory foambed,Georgetown,47.55017,-122.31937,Private room in rental unit,Private room,2,3 shared baths,1.0,2.0,55.0,175,4.70,4.78,4.73,4.93,4.88,4.65,4.65,3.0,shared,10434.0
2,9531,176,The Adorable Sweet Orange Craftsman,Fairmount Park,47.55495,-122.38663,Entire home,Entire home/apt,4,1 bath,2.0,3.0,175.0,71,4.96,4.99,4.97,4.99,4.96,4.97,4.90,1.0,standard,6776.0
3,9534,39,The Coolest Tangerine Dream MIL!,Fairmount Park,47.55627,-122.38607,Entire guest suite,Entire home/apt,3,1 bath,2.0,2.0,135.0,73,4.99,4.99,4.99,5.00,4.99,4.96,4.94,1.0,standard,6776.0
4,9596,125,"the down home , spacious, central and fab!",Wallingford,47.65608,-122.33602,Entire rental unit,Entire home/apt,4,1 bath,1.0,4.0,130.0,97,4.56,4.55,4.50,4.80,4.66,4.91,4.56,1.0,standard,19411.0

In [66]:
selected_columns = ['review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication',
                   'review_scores_location','review_scores_value'] 
df_selected = df[selected_columns]
df_selected.head()

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,4.61,4.67,4.67,4.83,4.76,4.88,4.57
1,4.70,4.78,4.73,4.93,4.88,4.65,4.65
2,4.96,4.99,4.97,4.99,4.96,4.97,4.90
3,4.99,4.99,4.99,5.00,4.99,4.96,4.94
4,4.56,4.55,4.50,4.80,4.66,4.91,4.56

In [67]:
df_selected.describe()

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,6220.000000,6216.000000,6216.000000,6216.000000,6216.000000,6216.000000,6216.000000
mean,4.784375,4.826628,4.802376,4.864511,4.861739,4.834268,4.708888
std,0.402947,0.352692,0.365597,0.329797,0.352261,0.297421,0.406618
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4.750000,4.810000,4.760000,4.870000,4.880000,4.800000,4.650000
50%,4.900000,4.930000,4.930000,4.970000,4.980000,4.920000,4.810000
75%,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.930000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [68]:
NA_count = df_selected.isna().sum()
print(NA_count)

review_scores_rating           1998
review_scores_accuracy         2002
review_scores_cleanliness      2002
review_scores_checkin          2002
review_scores_communication    2002
review_scores_location         2002
review_scores_value            2002
dtype: int64

In [69]:
cleaned_df = df_selected.dropna()

In [70]:
correlation_matrix = cleaned_df.corr()

In [71]:
correlation_matrix.style.background_gradient(cmap='coolwarm').format("{:.2f}")