In [14]:
import geopandas as gpd
import pandas as pd

In [3]:
geo_df = gpd.read_file('Neighborhood_Map_Atlas_Neighborhoods.geojson')
geo_df.head()

,OBJECTID,L_HOOD,S_HOOD,S_HOOD_ALT_NAMES,Shape__Area,Shape__Length,geometry
0,27,Ballard,Loyal Heights,None,2.132066e+07,18831.009596,"POLYGON ((-122.37634 47.67592, -122.37671 47.6..."
1,28,Ballard,Ballard,Adams,2.255213e+07,29926.339300,"POLYGON ((-122.37622 47.66818, -122.37621 47.6..."
2,29,Ballard,Whittier Heights,None,1.419569e+07,15934.439266,"POLYGON ((-122.37634 47.67592, -122.37652 47.6..."
3,30,Ballard,West Woodland,None,2.219937e+07,21789.651087,"POLYGON ((-122.37634 47.67592, -122.37608 47.6..."
4,31,North Central,Phinney Ridge,Woodland Park,3.212312e+07,27120.785938,"POLYGON ((-122.34731 47.66501, -122.34887 47.6..."

In [4]:
geo_df = geo_df[["L_HOOD", "S_HOOD", "geometry"]]
geo_df.head()

,L_HOOD,S_HOOD,geometry
0,Ballard,Loyal Heights,"POLYGON ((-122.37634 47.67592, -122.37671 47.6..."
1,Ballard,Ballard,"POLYGON ((-122.37622 47.66818, -122.37621 47.6..."
2,Ballard,Whittier Heights,"POLYGON ((-122.37634 47.67592, -122.37652 47.6..."
3,Ballard,West Woodland,"POLYGON ((-122.37634 47.67592, -122.37608 47.6..."
4,North Central,Phinney Ridge,"POLYGON ((-122.34731 47.66501, -122.34887 47.6..."

In [5]:
df = pd.read_csv('Seattle Crime Data.csv')
df.head()

,Report DateTime,Crime Against Category,Offense Parent Group,Offense,100 Block Address,Longitude,Latitude
0,02/05/2020 11:24:31 AM,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,02/05/2020 10:06:28 AM,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,02/05/2020 09:39:33 AM,PROPERTY,ROBBERY,Robbery,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,02/05/2020 03:30:55 AM,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,02/05/2020 12:51:31 AM,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

In [6]:
geometry = [Point(xy) for xy in zip(df['Longitude'], df['Latitude'])]
seattleCrime_gdf = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:4326")
seattleCrime_gdf.head()

,Report DateTime,Crime Against Category,Offense Parent Group,Offense,100 Block Address,Longitude,Latitude,geometry
0,02/05/2020 11:24:31 AM,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387,POINT (-122.38597 47.64939)
1,02/05/2020 10:06:28 AM,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118,POINT (-122.32340 47.67512)
2,02/05/2020 09:39:33 AM,PROPERTY,ROBBERY,Robbery,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384,POINT (-122.29955 47.66638)
3,02/05/2020 03:30:55 AM,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,22XX BLOCK OF W RAYE ST,-122.384865,47.642927,POINT (-122.38486 47.64293)
4,02/05/2020 12:51:31 AM,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193,POINT (-122.36620 47.66219)

In [8]:
seattleCrime_gdf = gpd.sjoin(seattleCrime_gdf, geo_df, how="left", op='within')
seattleCrime_gdf.head()

C:\Users\duhui\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3493: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

,Report DateTime,Crime Against Category,Offense Parent Group,Offense,100 Block Address,Longitude,Latitude,geometry,index_right,L_HOOD,S_HOOD
0,02/05/2020 11:24:31 AM,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387,POINT (-122.38597 47.64939),23.0,Magnolia,Lawton Park
1,02/05/2020 10:06:28 AM,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118,POINT (-122.32340 47.67512),7.0,North Central,Green Lake
2,02/05/2020 09:39:33 AM,PROPERTY,ROBBERY,Robbery,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384,POINT (-122.29955 47.66638),9.0,Northeast,Ravenna
3,02/05/2020 03:30:55 AM,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,22XX BLOCK OF W RAYE ST,-122.384865,47.642927,POINT (-122.38486 47.64293),25.0,Magnolia,Southeast Magnolia
4,02/05/2020 12:51:31 AM,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193,POINT (-122.36620 47.66219),3.0,Ballard,West Woodland

In [10]:
na_counts =seattleCrime_gdf.isna().sum()
na_counts

Report DateTime              0
Crime Against Category       0
Offense Parent Group         0
Offense                      0
100 Block Address            0
Longitude                    0
Latitude                     0
geometry                     0
index_right               1319
L_HOOD                    1319
S_HOOD                    1319
dtype: int64

In [13]:
seattleCrime_gdf= seattleCrime_gdf.dropna(axis='rows')
seattleCrime_gdf.to_csv('seattleCriemWithArea.csv', index=False)