In [90]:
import numpy as np 
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_squared_log_error, r2_score
from sklearn.ensemble import GradientBoostingRegressor

In [73]:
df_listing= pd.read_csv('listings.csv')

In [74]:
df_listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6882 entries, 0 to 6881
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6882 non-null   int64
 1   name                            6882 non-null   object
 2   host_id                         6882 non-null   int64
 3   host_name                       6882 non-null   object
 4   neighbourhood_group             6882 non-null   object
 5   neighbourhood                   6882 non-null   object
 6   latitude                        6882 non-null   float64
 7   longitude                       6882 non-null   float64
 8   room_type                       6882 non-null   object
 9   price                           6504 non-null   float64
 10  minimum_nights                  6882 non-null   int64
 11  number_of_reviews               6882 non-null   int64
 12  last_review                     5809 non-null   object
 13  reviews_per_month               5809 non-null   float64
 14  calculated_host_listings_count  6882 non-null   int64
 15  availability_365                6882 non-null   int64
 16  number_of_reviews_ltm           6882 non-null   int64
 17  license                         5462 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 967.9+ KB

In [75]:
# drop useless column
columns_to_drop = ['host_id', 'host_name', 'neighbourhood_group', 'minimum_nights',
                   'number_of_reviews', 'last_review', 'reviews_per_month',
                   'calculated_host_listings_count', 'number_of_reviews_ltm', 'license']

df_listing.drop(columns=columns_to_drop, axis=1, inplace=True)

In [76]:
# Keep the necessary columns
df_listing_filtered = df_listing
# Counting the NaN values in each column
na_counts = df_listing_filtered.isna().sum()

In [77]:
na_counts

id                    0
name                  0
neighbourhood         0
latitude              0
longitude             0
room_type             0
price               378
availability_365      0
dtype: int64

In [78]:
# Handling missing values
imputer = SimpleImputer(strategy='mean')
df_listing['price'] = imputer.fit_transform(df_listing[['price']])

# Handling duplicate
df_listing.drop_duplicates(inplace=True)

# Feature standardization or normalization
scaler = StandardScaler()
df_listing[['latitude', 'longitude', 'availability_365']] = scaler.fit_transform(df_listing[['latitude', 'longitude', 'availability_365']])

In [79]:
df_listing.head()

,id,name,neighbourhood,latitude,longitude,room_type,price,availability_365
0,6606,Guesthouse in Seattle · ★4.60 · 1 bedroom · 1 ...,Wallingford,0.565246,-0.062390,Entire home/apt,99.00000,0.016391
1,9419,Rental unit in Seattle · ★4.72 · 1 bedroom · 1...,Georgetown,-1.548414,0.447394,Private room,67.00000,1.374321
2,9531,Home in Seattle · ★4.97 · 2 bedrooms · 3 beds ...,Fairmount Park,-1.451519,-1.579091,Entire home/apt,184.00000,1.185518
3,9534,Guest suite in Seattle · ★4.99 · 2 bedrooms · ...,Fairmount Park,-1.424761,-1.562219,Entire home/apt,155.00000,-0.499187
4,9596,Rental unit in Seattle · ★4.56 · 1 bedroom · 4...,Wallingford,0.598491,-0.054256,Entire home/apt,174.15821,-1.268922