In [1]:
import geopandas as gpd
import pandas as pd
import re
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None)

In [2]:
geo_df = gpd.read_file('Neighborhood_Map_Atlas_Neighborhoods.geojson')
geo_df.head()

,OBJECTID,L_HOOD,S_HOOD,S_HOOD_ALT_NAMES,Shape__Area,Shape__Length,geometry
0,27,Ballard,Loyal Heights,None,2.132066e+07,18831.009596,"POLYGON ((-122.37634 47.67592, -122.37671 47.6..."
1,28,Ballard,Ballard,Adams,2.255213e+07,29926.339300,"POLYGON ((-122.37622 47.66818, -122.37621 47.6..."
2,29,Ballard,Whittier Heights,None,1.419569e+07,15934.439266,"POLYGON ((-122.37634 47.67592, -122.37652 47.6..."
3,30,Ballard,West Woodland,None,2.219937e+07,21789.651087,"POLYGON ((-122.37634 47.67592, -122.37608 47.6..."
4,31,North Central,Phinney Ridge,Woodland Park,3.212312e+07,27120.785938,"POLYGON ((-122.34731 47.66501, -122.34887 47.6..."

In [3]:
df1 = pd.read_csv('listings1.csv')
df2 = pd.read_csv('listings2.csv')
df3 = pd.read_csv('listings3.csv')
df4 = pd.read_csv('listings4.csv')
df = pd.concat([df1, df2, df3,df4], ignore_index=True)
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6606,https://www.airbnb.com/rooms/6606,20230324234225,2023-03-25,city scrape,"Fab, private seattle urban cottage!","This tiny cottage is only 15x10, but it has ev...","A peaceful yet highly accessible neighborhood,...",https://a0.muscache.com/pictures/45742/21116d7...,14942,https://www.airbnb.com/users/show/14942,Joyce,2009-04-26,"Seattle, WA",I am a therapist/innkeeper.I know my city well...,within a few hours,100%,94%,f,https://a0.muscache.com/im/users/14942/profile...,https://a0.muscache.com/im/users/14942/profile...,Wallingford,5,5,"['email', 'phone']",t,t,"Seattle, Washington, United States",Wallingford,Other neighborhoods,47.65444,-122.33629,Entire guesthouse,Entire home/apt,1,NaN,1 bath,1.0,1.0,"[""Air conditioning"", ""Hair dryer"", ""Bed linens...",$99.00,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,22,28,50,99,2023-03-25,159,2,0,2009-07-17,2022-09-03,4.61,4.67,4.67,4.83,4.76,4.88,4.57,str-opli-19-002622,f,3,3,0,0,0.95
1,9419,https://www.airbnb.com/rooms/9419,20230324234225,2023-03-25,city scrape,Glorious sun room w/ memory foambed,"Keeping you safe is our priority, we are adher...","Lots of restaurants (see our guide book) bars,...",https://a0.muscache.com/pictures/56645186/e5fb...,30559,https://www.airbnb.com/users/show/30559,Angielena,2009-08-09,"Seattle, WA",I am a visual artist who is the director ...,within an hour,100%,98%,t,https://a0.muscache.com/im/users/30559/profile...,https://a0.muscache.com/im/users/30559/profile...,Georgetown,9,10,"['email', 'phone']",t,t,"Seattle, Washington, United States",Georgetown,Other neighborhoods,47.55017,-122.31937,Private room in rental unit,Private room,2,NaN,3 shared baths,1.0,2.0,"[""Long term stays allowed"", ""Shared patio or b...",$55.00,2,90,2.0,2.0,90.0,90.0,2.0,90.0,NaN,t,28,58,85,356,2023-03-25,175,20,0,2010-07-30,2023-01-15,4.70,4.78,4.73,4.93,4.88,4.65,4.65,STR-OPLI-19-003039,f,9,0,9,0,1.14
2,9531,https://www.airbnb.com/rooms/9531,20230324234225,2023-03-25,city scrape,The Adorable Sweet Orange Craftsman,The Sweet Orange is a delightful and spacious ...,The neighborhood is awesome! Just far enough ...,https://a0.muscache.com/pictures/30470355/052c...,31481,https://www.airbnb.com/users/show/31481,Cassie,2009-08-13,"Seattle, WA",The Sweet Orange reflects my passion and zest ...,within a few hours,100%,77%,t,https://a0.muscache.com/im/users/31481/profile...,https://a0.muscache.com/im/users/31481/profile...,The Junction,2,2,"['email', 'phone']",t,t,"Seattle, Washington, United States",Fairmount Park,West Seattle,47.55495,-122.38663,Entire home,Entire home/apt,4,NaN,1 bath,2.0,3.0,"[""Long term stays allowed"", ""Conditioner"", ""Cl...",$175.00,3,1125,2.0,30.0,2.0,1125.0,7.5,1023.3,NaN,t,0,13,20,228,2023-03-25,71,11,0,2012-01-12,2022-12-28,4.96,4.99,4.97,4.99,4.96,4.97,4.90,STR-OPLI-19-002182,f,2,2,0,0,0.52
3,9534,https://www.airbnb.com/rooms/9534,20230324234225,2023-03-25,city scrape,The Coolest Tangerine Dream MIL!,Welcome to my delicious Tangerine Dream! A co...,The neighborhood is the best of two worlds...w...,https://a0.muscache.com/pictures/30476721/0751...,31481,https://www.airbnb.com/users/show/31481,Cassie,2009-08-13,"Seattle, WA",The Sweet Orange reflects my passion and zest ...,within a few hours,100%,77%,t,https://a0.muscache.com/im/users/31481/profile...,https://a0.muscache.com/im/users/31481/profile...,The Junction,2,2,"['email', 'phone']",t,t,"Seattle, Washington, United States",Fairmount Park,West Seattle,47.55627,-122.38607,Entire guest suite,Entire home/apt,3,NaN,1 bath,2.0,2.0,"[""Long term stays allowed"", ""Conditioner"", ""Cl...",$135.00,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,0,0,24,231,2023-03-25,73,13,1,2012-01-15,2023-03-09,4.99,4.99,4.99,5.00,4.99,4.96,4.94,STR-OPLI-19-002182,f,2,2,0,0,0.54
4,9596,https://www.airbnb.com/rooms/9596,20230324234225,2023-03-25,previous scrape,"the down home , spacious, central and fab!","We are in a great neighborhood, quiet, full of...","if you arrive early for check in at 3, I reco...",https://a0.muscache.com/pictures/665252/102d18...,14942,https://www.airbnb.com/users/show/14942,Joyce,2009-04-26,"Seattle, WA",I am a therapist/innkeeper.I know my city well...,within a few hours,100%,94%,f,https://a0.muscache.com/im/users/14942/profile...,https://a0.muscache.com/im/users/14942/profile...,Wallingford,5,5,"['email', 'phone']",t,t,"Seattle, Washington, United States",Wallingford,Other neighborhoods,47.65608,-122.33602,Entire rental unit,Entire home/apt,4,NaN,1 bath,1.0,4.0,"[""Stove"", ""Hair dryer"", ""Shampoo"", ""Coffee mak...",$130.00,30,200,30.0,30.0,200.0,200.0,30.0,200.0,NaN,t,22,45,65,65,2023-03-25,97,0,0,2011-06-15,2020-09-28,4.56,4.55,4.50,4.80,4.66,4.91,4.56,STR -OPLI-19-002622,f,3,3,0,0,0.68

In [4]:
selected_columns = ['id', 'name', 'neighbourhood_cleansed','latitude','longitude','property_type','room_type','accommodates',
                   'bathrooms_text','bedrooms','beds','price','availability_90','number_of_reviews','review_scores_rating',
                    'review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication',
                   'review_scores_location','review_scores_value'] 
df = df[selected_columns]
df.head()

,id,name,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,availability_90,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,6606,"Fab, private seattle urban cottage!",Wallingford,47.65444,-122.33629,Entire guesthouse,Entire home/apt,1,1 bath,1.0,1.0,$99.00,50,159,4.61,4.67,4.67,4.83,4.76,4.88,4.57
1,9419,Glorious sun room w/ memory foambed,Georgetown,47.55017,-122.31937,Private room in rental unit,Private room,2,3 shared baths,1.0,2.0,$55.00,85,175,4.70,4.78,4.73,4.93,4.88,4.65,4.65
2,9531,The Adorable Sweet Orange Craftsman,Fairmount Park,47.55495,-122.38663,Entire home,Entire home/apt,4,1 bath,2.0,3.0,$175.00,20,71,4.96,4.99,4.97,4.99,4.96,4.97,4.90
3,9534,The Coolest Tangerine Dream MIL!,Fairmount Park,47.55627,-122.38607,Entire guest suite,Entire home/apt,3,1 bath,2.0,2.0,$135.00,24,73,4.99,4.99,4.99,5.00,4.99,4.96,4.94
4,9596,"the down home , spacious, central and fab!",Wallingford,47.65608,-122.33602,Entire rental unit,Entire home/apt,4,1 bath,1.0,4.0,$130.00,65,97,4.56,4.55,4.50,4.80,4.66,4.91,4.56

In [5]:
df_availability = (df.groupby('id')['availability_90'].sum().reset_index(name='availability in one year'))
unique_listing_info = df.drop_duplicates('id').drop('availability_90', axis=1)
df = pd.merge(df_availability, unique_listing_info, on='id')
df.head()

,id,availability in one year,name,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,6606,273,"Fab, private seattle urban cottage!",Wallingford,47.65444,-122.33629,Entire guesthouse,Entire home/apt,1,1 bath,1.0,1.0,$99.00,159,4.61,4.67,4.67,4.83,4.76,4.88,4.57
1,9419,336,Glorious sun room w/ memory foambed,Georgetown,47.55017,-122.31937,Private room in rental unit,Private room,2,3 shared baths,1.0,2.0,$55.00,175,4.70,4.78,4.73,4.93,4.88,4.65,4.65
2,9531,176,The Adorable Sweet Orange Craftsman,Fairmount Park,47.55495,-122.38663,Entire home,Entire home/apt,4,1 bath,2.0,3.0,$175.00,71,4.96,4.99,4.97,4.99,4.96,4.97,4.90
3,9534,39,The Coolest Tangerine Dream MIL!,Fairmount Park,47.55627,-122.38607,Entire guest suite,Entire home/apt,3,1 bath,2.0,2.0,$135.00,73,4.99,4.99,4.99,5.00,4.99,4.96,4.94
4,9596,125,"the down home , spacious, central and fab!",Wallingford,47.65608,-122.33602,Entire rental unit,Entire home/apt,4,1 bath,1.0,4.0,$130.00,97,4.56,4.55,4.50,4.80,4.66,4.91,4.56

In [6]:
bedrooms_pattern = r'(\d+)\s+bedroom'
bed_pattern = r'(\d+)\s+bed'

for index, row in df.iterrows():
    if pd.isna(row['bedrooms']):
        if 'studio' in row['name'].lower():
            df.loc[index, 'bedrooms'] = 0
        else:
            bedrooms_match = re.search(bedrooms_pattern, row['name'])
            if bedrooms_match:
                df.loc[index, 'bedrooms'] = int(bedrooms_match.group(1))

    if pd.isna(row['beds']):
        bed_match = re.search(bed_pattern, row['name'])
        if bed_match:
            df.loc[index, 'beds'] = int(bed_match.group(1))

In [7]:
unique_bathroom_types = df['bathrooms_text'].unique()
print(unique_bathroom_types)

['1 bath' '3 shared baths' '2 baths' '1.5 baths' '2.5 baths'
 '4 shared baths' '1 shared bath' '3 baths' '1 private bath' '4 baths'
 '1.5 shared baths' '3.5 baths' 'Shared half-bath' '2 shared baths'
 'Half-bath' '2.5 shared baths' '3.5 shared baths' '0 shared baths'
 '4.5 baths' 'Private half-bath' '16 shared baths' '0 baths' '6 baths' nan
 '6.5 baths' '7 baths' '5.5 baths' '5 baths']

In [8]:
import re

df['bathroom_count'] = df['bathrooms_text'].apply(lambda x: float(re.search(r'(\d+\.?\d*)', x).group(1)) if isinstance(x, str) and re.search(r'(\d+\.?\d*)', x) else 0)

def extract_bathroom_type(text):
    if not isinstance(text, str):
        return 'unknown' 
    if 'shared' in text:
        return 'shared'
    elif 'private' in text:
        return 'private'
    elif 'half-bath' in text:
        return 'half-bath'
    else:
        return 'standard'

df['bathroom_type'] = df['bathrooms_text'].apply(extract_bathroom_type)

In [9]:
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

In [10]:
missing_percentage = df.isna().sum() / len(df) * 100
print(missing_percentage)

id                              0.000000
availability in one year        0.000000
name                            0.000000
neighbourhood_cleansed          0.000000
latitude                        0.000000
longitude                       0.000000
property_type                   0.000000
room_type                       0.000000
accommodates                    0.000000
bathrooms_text                  0.011518
bedrooms                        4.192582
beds                            1.128772
price                           0.195807
number_of_reviews               0.000000
review_scores_rating           23.946095
review_scores_accuracy         23.992168
review_scores_cleanliness      23.992168
review_scores_checkin          23.992168
review_scores_communication    23.992168
review_scores_location         23.992168
review_scores_value            23.992168
bathroom_count                  0.000000
bathroom_type                   0.000000
dtype: float64

In [11]:
df = df.dropna(subset=['price','bedrooms','beds'])

In [12]:
missing_percentage = df.isna().sum() / len(df) * 100
print(missing_percentage)

id                              0.000000
availability in one year        0.000000
name                            0.000000
neighbourhood_cleansed          0.000000
latitude                        0.000000
longitude                       0.000000
property_type                   0.000000
room_type                       0.000000
accommodates                    0.000000
bathrooms_text                  0.000000
bedrooms                        0.000000
beds                            0.000000
price                           0.000000
number_of_reviews               0.000000
review_scores_rating           24.312485
review_scores_accuracy         24.361158
review_scores_cleanliness      24.361158
review_scores_checkin          24.361158
review_scores_communication    24.361158
review_scores_location         24.361158
review_scores_value            24.361158
bathroom_count                  0.000000
bathroom_type                   0.000000
dtype: float64

In [13]:
df_crime = pd.read_csv('seattleCriemWithArea.csv')
df_crime.head()

,Report DateTime,Crime Against Category,Offense Parent Group,Offense,100 Block Address,Longitude,Latitude,geometry,index_right,L_HOOD,S_HOOD
0,02/05/2020 11:24:31 AM,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387,POINT (-122.385973723 47.64938723),23.0,Magnolia,Lawton Park
1,02/05/2020 10:06:28 AM,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118,POINT (-122.323399063 47.67511789),7.0,North Central,Green Lake
2,02/05/2020 09:39:33 AM,PROPERTY,ROBBERY,Robbery,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384,POINT (-122.29955218 47.66638407),9.0,Northeast,Ravenna
3,02/05/2020 03:30:55 AM,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,22XX BLOCK OF W RAYE ST,-122.384865,47.642927,POINT (-122.384864805 47.64292734),25.0,Magnolia,Southeast Magnolia
4,02/05/2020 12:51:31 AM,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193,POINT (-122.366195342 47.66219308),3.0,Ballard,West Woodland

In [14]:
df_crime_count = df_crime.groupby('S_HOOD')['Report DateTime'].count().reset_index(name='Total crime')
df_crime_count = df_crime_count.rename(columns={'S_HOOD': 'neighbourhood_cleansed'})
df_crime_count.head()

  neighbourhood_cleansed  Total crime
0                   Alki         5324
1          Arbor Heights         3191
2               Atlantic        16578
3                Ballard        18389
4               Belltown        32555

In [15]:
df_withcrime = df.merge(df_crime_count, on='neighbourhood_cleansed', how='left')
df_withcrime.head()

,id,availability in one year,name,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,bathroom_count,bathroom_type,Total crime
0,6606,273,"Fab, private seattle urban cottage!",Wallingford,47.65444,-122.33629,Entire guesthouse,Entire home/apt,1,1 bath,1.0,1.0,99.0,159,4.61,4.67,4.67,4.83,4.76,4.88,4.57,1.0,standard,19411.0
1,9419,336,Glorious sun room w/ memory foambed,Georgetown,47.55017,-122.31937,Private room in rental unit,Private room,2,3 shared baths,1.0,2.0,55.0,175,4.70,4.78,4.73,4.93,4.88,4.65,4.65,3.0,shared,10434.0
2,9531,176,The Adorable Sweet Orange Craftsman,Fairmount Park,47.55495,-122.38663,Entire home,Entire home/apt,4,1 bath,2.0,3.0,175.0,71,4.96,4.99,4.97,4.99,4.96,4.97,4.90,1.0,standard,6776.0
3,9534,39,The Coolest Tangerine Dream MIL!,Fairmount Park,47.55627,-122.38607,Entire guest suite,Entire home/apt,3,1 bath,2.0,2.0,135.0,73,4.99,4.99,4.99,5.00,4.99,4.96,4.94,1.0,standard,6776.0
4,9596,125,"the down home , spacious, central and fab!",Wallingford,47.65608,-122.33602,Entire rental unit,Entire home/apt,4,1 bath,1.0,4.0,130.0,97,4.56,4.55,4.50,4.80,4.66,4.91,4.56,1.0,standard,19411.0

In [16]:
missing_percentage = df_withcrime.isna().sum()
print(missing_percentage)

id                                0
availability in one year          0
name                              0
neighbourhood_cleansed            0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms_text                    0
bedrooms                          0
beds                              0
price                             0
number_of_reviews                 0
review_scores_rating           1998
review_scores_accuracy         2002
review_scores_cleanliness      2002
review_scores_checkin          2002
review_scores_communication    2002
review_scores_location         2002
review_scores_value            2002
bathroom_count                    0
bathroom_type                     0
Total crime                     226
dtype: int64

In [ ]:
df.to_csv('processedListingDATA(4 seasons).csv', index=False)