In [1]:
import numpy as np 
import pandas as pd

In [2]:
df_crime= pd.read_csv('/Users/cheryl/Desktop/CS6220/project/data/SPD_Crime_Data__2008-Present_20240311.csv')

In [3]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108305 entries, 0 to 1108304
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1108305 non-null  object
 1   Offense ID              1108305 non-null  int64
 2   Offense Start DateTime  1106605 non-null  object
 3   Offense End DateTime    633315 non-null   object
 4   Report DateTime         1108305 non-null  object
 5   Group A B               1108305 non-null  object
 6   Crime Against Category  1108305 non-null  object
 7   Offense Parent Group    1108305 non-null  object
 8   Offense                 1108305 non-null  object
 9   Offense Code            1108305 non-null  object
 10  Precinct                1108301 non-null  object
 11  Sector                  1108301 non-null  object
 12  Beat                    1108301 non-null  object
 13  MCPP                    1108281 non-null  object
 14  100 Block Address       1058849 non-null  object
 15  Longitude               1108305 non-null  float64
 16  Latitude                1108305 non-null  float64
dtypes: float64(2), int64(1), object(14)
memory usage: 143.7+ MB

In [76]:
df_crime.head()

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

In [77]:
# Keep the necessary columns
df_crime_filtered = df_crime[['Report DateTime', 'Crime Against Category', 'Offense Parent Group', 'Offense', '100 Block Address', 'Longitude', 'Latitude']]

# Counting the NaN values in each column
na_counts = df_crime_filtered.isna().sum()

In [78]:
na_counts

Report DateTime               0
Crime Against Category        0
Offense Parent Group          0
Offense                       0
100 Block Address         49456
Longitude                     0
Latitude                      0
dtype: int64

In [79]:
na_rate = 49456/1058849
print('NA rate is: ', na_rate)

NA rate is:  0.04670732087389231

In [80]:
# NA rate is below than 5% so we can drop the NA row
df_crime_dropna = df_crime_filtered.dropna()

In [81]:
df_crime_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1058849 entries, 0 to 1108304
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report DateTime         1058849 non-null  object
 1   Crime Against Category  1058849 non-null  object
 2   Offense Parent Group    1058849 non-null  object
 3   Offense                 1058849 non-null  object
 4   100 Block Address       1058849 non-null  object
 5   Longitude               1058849 non-null  float64
 6   Latitude                1058849 non-null  float64
dtypes: float64(2), object(5)
memory usage: 64.6+ MB

In [84]:
df_crime_dropna.head()

,Report DateTime,Crime Against Category,Offense Parent Group,Offense,100 Block Address,Longitude,Latitude
0,02/05/2020 11:24:31 AM,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,02/05/2020 10:06:28 AM,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,02/05/2020 09:39:33 AM,PROPERTY,ROBBERY,Robbery,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,02/05/2020 03:30:55 AM,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,02/05/2020 12:51:31 AM,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

In [83]:
# Exporting the new DataFrame to a CSV file 
df_crime_dropna.to_csv('/Users/cheryl/Desktop/CS6220/project/data/Seattle Crime Data.csv', index=False)